<div class="footer">
    Este Laboratorio se pude encontrar en el repositorio
    de Github de <a href="https://github.com/Caceres-A01706972/TC2005B/tree/main/Lab12"><strong>Caceres-A01706972</strong></a>.
</div>