<div style="margin-top: 200px;">
    <h4>¿Qué ventajas tiene escribir el código SQL únicamente en la capa del modelo?</h4>
    Porque de esa manera nuestro codigo SQL solamente podra ser ejecutado por las funciones 
    del objeto que corresponde a la tabla de SQL que queremos hacer referencia.
    <h4>¿Qué es SQL injection y cómo se puede prevenir?</h4>
    Es una tecnica de inyeccion de codigo utilizada para atacar aplicaciones
    las cuales usan principalmente data guardada en bases de datos, y consiste en
    poner statements de SQL maliciosamente para ejecutar algunas acciones en la base de datos.
    Existen varias maneras de prevenir estos ataques. Algunas son ocupar validacion de los inputs, 
    otras son hacer queries parametrizadas.
</div>