<div style="margin-top: 300px;">
    <h4>¿Qué beneficios encuentras en el estilo MVC?</h4>
    Las ventajas del Model View-Controller son de que nuestro codigo estara mejor
    estructurado, dividiendo nuestro programa en diferentes capas.
    Esto hace que nuestro codigo sea mas facil de mantener ya que separa los datos
    de la vista. Al mismo tiempo nos facilita el crecimiento de nuestro programa. 
    <h4>¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</h4>
    Cuando se llega a tener muchas capas, puede llegar a ser un poco complejo entender 
    el programa.
</div>