.favorites-title{
    text-align: center;
}

.favorites-button{
    display: flex;
}

.btn{
    padding: 20px;
    margin-right: 20px;
    border-radius: 20px;
    background-color: rgb(27, 27, 27);
    color: white;
}

h2{
    color: red;
    text-decoration: line-through;
    text-align: center;
}