<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Peliculas</title>
    <link rel="stylesheet" href="../css/stylesPeliculasNew.css">

</head>
<body>
    <h1 class="title">Favorite Movies!</h1>
    <h2 class="title">Aqui Ingresaras Pelicuals a la Lista!</h2>
    <p class="indications">Ingresa el nombre de la pelicula:</p>
    <form action="/peliculas/new" method="POST">
        <label for="nombre">Nombre de la pelicula: </label>
        <input class="input" type="text" name="nombre" required>
        <input class="btn" type="submit" value="Enviar">
    </form>
    <br><br>
    <a href="/peliculas">
        <button class="btn">Regresar a la lista de Peliculas</button>
    </a>
    </br>
    <%- include('includes/footer.ejs') %>
</body>
</html>