<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canciones</title>
    <link rel="stylesheet" href="../css/stylesCanciones.css"/>

</head>
<body>
    <h1 class="favorites-title">Favorite Songs!</h1>
    <p class="indications">Estas son las canciones favoritas de Ricardo:</p>
    <ol>
    <!-- for (let song in canciones){
        <li>' + canciones[song] + '</li>
    } --> <li>Canciones</li>
    </ol>
    <div class="links">
        <a href="/canciones/new">
            <button class="btn">Agregar una Cancion</button> 
        </a>
        <br>
        <a href='../'>
            <button class="btn">Go back to Ricardo's Favorites</button> 
        </a>
        <br>
        <a href="/pending">
            <button class="btn">Series Favoritas</button> 
        </a>
    </div>
</body>
</html>