<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Home
    <h1>Ricardo's Favorites!</h1>
    <div style="display: flex">
        <a href="/peliculas">
            <button style= "margin-right:20px"> Peliculas </button>
        </a> 
        <a href="canciones">
            <button> Canciones </button>
        </a>
    </div>
</body>
</html>