<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peliculas</title>
    <link rel="stylesheet" href="../css/stylesPeliculas.css">

</head>
<body>
    <h1 class="favorites-title">Favorite Movies!</h1>
    <p class="indications">Estas son las peliculas favoritas de Ricardo:</p>
    <ol>
    <% for (let movie in peliculas){ %>
        <li><%= peliculas[movie] %></li>
    <%} %>
    </ol>
    <div class="links">
        <a href="/peliculas/new">
            <button class="btn">Agregar una Pelicula</button>
        </a>
        <br>
        <a href='../'>
            <button class="btn">Go back to Ricardo's Favorites</button>
        </a>
        <br>
        <a href="pending">
            <button class="btn">Series Favoritas (Not Found)</button>
        </a>
    </div>
    
</body>

</body>
</html>