<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peliculas</title>
</head>
<body>
    <h1>Favorite Movies!</h1>
    <p>Estas son las peliculas favoritas de Ricardo:</p>
    <ol>
    <!-- for (let movie in peliculas){
        <li>' +peliculas[movie] + '</li>
    } --> <li>Movie</li>
    </ol>
    <a href="/peliculas/new">Agregar una Pelicula</a>
    <br>
    <a href='../'>Go back to Ricardo's Favorites</a>
    <br>
    <a href="pending">Series Favoritas (Not Found)</a>  
</body>

</body>
</html>