<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <main>
        
        <!-- <form action="/users/login" method="POST">
            <input type="text" name="usuario">
            <input type="password" name="password">
            <input type="submit" value="ingresar">
        </form> -->
        <form action="/users/login" method="POST">
            <label for="nombre">Nombre de usuario: </label>
            <input type="text" name="nombre" required>
            <label for="passwd">Constraseña: </label>
            <input type="password" name="passwd" required>
            <input type="submit" value="Enviar">
        </form>
        <br>
        <a href="/users/signup"><button>Sign Up!</button></a>
    </main>
</body>
</html>